* {
  font-family: sans-serif;
  text-align: center;
  color: black;
}

body {
  background-color: rgb(245, 183, 119);
}

img {
  float: left;
  margin: 0px 10px 0px 10px;
  width: 30%;
}

img:hover {
  box-shadow: 3px 3px 5px 3px #c89a4c;
}

#list {
  clear: both;
  margin: 20px;
}

li {
  text-align: left;
  list-style: none;
}
